<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Créer une réponse</title>
</head>
<body>
<h1>Créer une réponse</h1>
<form th:action="@{/answers/create}" th:object="${answerDTO}" method="post">
    <input type="text" th:field="*{text}" placeholder="Texte">
    <label>Correct : <input type="checkbox" th:field="*{correct}"></label>
    <input type="number" th:field="*{questionId}" placeholder="Question">
    <button type="submit">Créer</button>
</form>
<a href="/answers">Retour</a>
</body>
</html>