<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('Modifier une réponse')}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<h1>Modifier une réponse</h1>
<form th:action="@{/answers/edit/{id}(id=${answerDTO.id})}" th:object="${answerDTO}" method="post">
    <input type="text" th:field="*{text}" placeholder="Texte">
    <label>Correct : <input type="checkbox" th:field="*{correct}"></label>
    <input type="number" th:field="*{questionId}" placeholder="Question">
    <button type="submit">Modifier</button>
</form>
<a href="/answers">Retour</a>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>