<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('Créer un chapitre')}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<h1>Créer un chapitre</h1>
<form th:action="@{/chapters/create}" th:object="${chapterDTO}" method="post">
    <input type="text" th:field="*{title}" placeholder="Titre">
    <input type="text" th:field="*{description}" placeholder="Description">
    <input type="number" th:field="*{orderIndex}" placeholder="Ordre">
    <button type="submit">Créer</button>
</form>
<a href="/chapters">Retour</a>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>