<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier le chapitre</title>
</head>
<body>
<h1>Modifier le chapitre</h1>
<form th:action="@{/chapters/edit/{id}(id=${chapterDTO.id})}" th:object="${chapterDTO}" method="post">
    <input type="text" th:field="*{title}" placeholder="Titre">
    <input type="text" th:field="*{description}" placeholder="Description">
    <input type="number" th:field="*{orderIndex}" placeholder="Ordre">
    <button type="submit">Modifier</button>
</form>
<a href="/chapters">Retour</a>
</body>
</html>