<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('Commentaires')}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<h1>Liste des commentaires</h1>
<a th:if="${session.role == 'ADMIN'}" href="/comments/create">Créer un commentaire</a>

<div th:each="comment : ${comments}">
    <p th:text="${comment.text}">Texte</p>
    <small th:text="${comment.createdAt}">Date</small>
    <a th:href="@{/comments/{id}(id=${comment.id})}">Voir</a>
    <a th:if="${session.role == 'ADMIN'}" th:href="@{/comments/edit/{id}(id=${comment.id})}">Modifier</a>
    <a th:if="${session.role == 'ADMIN'}" th:href="@{/comments/delete/{id}(id=${comment.id})}">Supprimer</a>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>