<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('Connexion')}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div>
    <form th:action="@{/auth/login}" th:object="${loginRequest}" method="post">
        <input type="email" th:field="*{email}" placeholder="Email">
        <input type="password" th:field="*{password}" placeholder="Password">
        <button type="submit">Se connecter</button>
    </form>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>