<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('Modifier une question')}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<h1>Modifier une question</h1>
<form th:action="@{/questions/edit/{id}(id=${questionDTO.id})}" th:object="${questionDTO}" method="post">
    <input type="text" th:field="*{text}" placeholder="Text">
    <input type="number" th:field="*{quizId}" placeholder="Quiz">
    <button type="submit">Modifier</button>
</form>
<a href="/questions">Retour</a>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>