<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('Détail du quiz')}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<h1 th:text="${quizDTO.title}">Titre</h1>
<p th:text="${quizDTO.lives}">Vie</p>
<p th:text="${quizDTO.passingScore}">Score de passage</p>

<h2>Questions</h2>
<div th:each="question : ${quizDTO.questions}">
    <a th:href="@{/questions/{id}(id=${question.id})}" th:text="${question.text}">Question</a>
    <a th:href="@{/quizzes/play/{id}(id=${quizDTO.id})}">Jouer</a>
</div>
<p th:if="${#lists.isEmpty((quizDTO.questions))}">Aucune question</p>
<a th:href="@{/quizzes/edit/{id}(id=${quizDTO.id})}">Modifier</a>
<a th:href="@{/quizzes/delete/{id}(id=${quizDTO.id})}">Supprimer</a>
<a href="/quizzes">Retour</a>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>