<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('Enregistrement')}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div>
    <form th:action="@{/auth/register}" th:object="${registerRequest}" method="post">
        <input type="text" th:field="*{username}" placeholder="Username">
        <input type="email" th:field="*{email}" placeholder="Email">
        <input type="password" th:field="*{password}" placeholder="Password">
        <button type="submit">S'inscrire</button>
    </form>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>