<nav th:fragment="navbar" class="navbar">
    <a th:href="@{/}" class="nav-pill">HOME</a>
    <a th:href="@{/chapters}" class="nav-pill">Chapitres</a>
    <a th:href="@{/}">
        <img th:src="@{/images/logo.png}" alt="PopJav" class="nav-logo">
    </a>
    <a th:if="${session.token != null}" th:href="@{/profile}" class="nav-pill">Profil</a>
    <a th:if="${session.token == null}" th:href="@{/auth/login}" class="nav-pill btn-connect">Connexion</a>
    <a th:if="${session.token != null}" th:href="@{/auth/logout}" class="nav-pill btn-logout">Déconnexion</a>
</nav>